    body {
        div.categoria {
            align-content: center;
            align-items: center;
            background-color: map-get($map: $colors, $key: grisFondo);
            border: 2px solid #555555;
            table {
                margin-bottom: 0px;
                .alinear {
                    text-align: center;
                    .fila {
                        padding: 0.625rem;
                    }
                    ol.ListaRecetas {
                        font-style: oblique;
                    }
                }
            }
        }
    }